#navbar {
  display: flex;
  padding: 5px 18px;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 4%);
  z-index: 99;
  position: sticky;
  top: 0px;
  background-color: white;
}
.logoDiv {
  margin-left: 20px;
}
.logo {
  width: 65%;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
#tabs {
  display: flex;
  margin-left: 30px;
}
.tab {
  height: 100%;
  display: flex;
  margin: auto 15px;
  width: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tab:hover {
  border-bottom: 2px solid red;
}
.tag {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.8;
  text-decoration: none;
  color: inherit;
}
#searchDiv {
  margin: auto 0px;
  margin-left: auto;
  margin-right: 25px;
  padding: 6px 8px;
  width: 25%;
  display: flex;
  background-color: #f5f5f6;
  border-radius: 0 4px 4px 0;
}
.searchIcon {
  width: 18px;
}
.searchInput {
  border: none;
  outline: none;
  background-color: #f5f5f6;
  margin-left: 12px;
  padding: 4px;
  font-size: 14px;
  width: 80%;
}
#features {
  display: flex;
  margin-right: 12px;
}
.featureDiv {
  margin: auto 10px;
  text-align: center;
  cursor: pointer;
}
.featureBagDiv {
  position: relative;
  margin: auto 10px;
  text-align: center;
  cursor: pointer;
}
.featureSvg {
  width: 20px;
}
.bagValue {
  position: absolute;
  top: -22px;
  right: -13px;
  background-color: rgb(255, 63, 108);
  color: white;
  border-radius: 50%;
  width: 23px;
  height: 18px;
  font-size: 14px;
  font-weight: bold;
}
.featureText {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.8;
  margin: 0px;
}
.bagShower {
  position: fixed;
  top: 10px;
  right: 30px;
}
